In [1]:
!pip install --quiet openai

In [2]:
from IPython.display import Markdown
import pandas as pd
from getpass import getpass
from openai import OpenAI

In [3]:
openai_key = getpass("Wprowadź swój klucz OpenAI: ")

In [4]:
openai_client = OpenAI(api_key=openai_key)

def ASK(prompt: str):
    ASK_SENIOR_DATA_SCIENTIST_PROMPT = """
        * Jesteś Senior Data Scientistem w dużym przedsiębiorstwie.
        * Twoim zadaniem jest pomoc i mentorowanie młodszych pracowników, takich jak ja
        * Będę cię prosił o różne rady i wskazówki, które pomogą mi w mojej pracy
        * Odpowiadaj zwięźle i jeżeli się da od razu przesyłaj mi kod w Pythonie
    """
    response = openai_client.chat.completions.create(
        model="gpt-4o-mini",
        temperature=0.0,
        messages=[
            {"role": "system", "content": ASK_SENIOR_DATA_SCIENTIST_PROMPT},
            {"role": "user", "content": prompt}
        ]
    )

    return Markdown(response.choices[0].message.content)

In [ ]:
df = pd.read_csv('welcome_survey.csv')
df.head()

,Timestamp,Wiek,Płeć,Poziom wykształcenia,Liczba lat doświadczenia zawodowego,Obecna branża,"Jak preferujesz się uczyć? (wybierz wszystkie, które pasują)",Ile czasu tygodniowo możesz poświęcić na naukę data science i AI?,Co najbardziej motywuje Cię do nauki data science i AI? (wybierz maks. 3),Jak zwierzęta są Twoimi ulubionymi?,Bardziej lubisz przysmaki słodkie czy słone?,Jakie jest Twoje ulubione miejsce na ziemi?,Jak spędzasz wolny czas?
0,7/4/2024 22:42:51,Poniżej 18 lat,Kobieta,Szkoła podstawowa,0-2 lata,IT,Kursy online,5-10 godzin,NaN,NaN,NaN,NaN,NaN
1,7/6/2024 11:00:48,25-34,Mężczyzna,Szkoła średnia / Technikum,11-15 lat,IT,"Kursy online, Książki, Warsztaty, Praca zespoł...",10-15 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,Słodkie,Morze,"Gry komputerowe, Filmy / Seriale"
2,7/6/2024 12:20:46,45-54,Mężczyzna,Magister,16 i więcej,Edukacja,"Kursy online, Książki, Warsztaty, Praca zespoł...",10-15 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,Słone,Las,Filmy / Seriale
3,7/6/2024 18:51:25,35-44,Mężczyzna,Szkoła średnia / Technikum,11-15 lat,NaN,"Kursy online, Warsztaty, Praca zespołowa",10-15 godzin,"Rozwój kariery, Wyzwania intelektualne, Wynagr...",Koty,Słodkie,Góry,"Sport, Książki, Filmy / Seriale"
4,7/6/2024 23:20:24,35-44,Mężczyzna,Magister,16 i więcej,Energetyka,"Kursy online, Książki",5-10 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,Słodkie,las i jezioro,"Sport, zabawy z dziećmi"

In [6]:
df = df.rename(columns={
    "Poziom wykształcenia": "edu_level",
    "Obecna branża": "industry",
    'Liczba lat doświadczenia zawodowego': 'years_of_experience',
    'Jak preferujesz się uczyć? (wybierz wszystkie, które pasują)': 'learning_preferences',
    'Ile czasu tygodniowo możesz poświęcić na naukę data science i AI?': 'weekly_study_hours',
    'Co najbardziej motywuje Cię do nauki data science i AI? (wybierz maks. 3)': 'motivation',
    'Jak zwierzęta są Twoimi ulubionymi?': 'fav_animals',
    'Jakie jest Twoje ulubione miejsce na ziemi?' : 'fav_place',
    'Bardziej lubisz przysmaki słodkie czy słone?': 'sweet_or_salty',
    'Płeć': 'gender',
    'Wiek': 'age',
    'Jak spędzasz wolny czas?' : 'hobbies',
})
df.head()

,Timestamp,age,gender,edu_level,years_of_experience,industry,learning_preferences,weekly_study_hours,motivation,fav_animals,sweet_or_salty,fav_place,hobbies
0,7/4/2024 22:42:51,Poniżej 18 lat,Kobieta,Szkoła podstawowa,0-2 lata,IT,Kursy online,5-10 godzin,NaN,NaN,NaN,NaN,NaN
1,7/6/2024 11:00:48,25-34,Mężczyzna,Szkoła średnia / Technikum,11-15 lat,IT,"Kursy online, Książki, Warsztaty, Praca zespoł...",10-15 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,Słodkie,Morze,"Gry komputerowe, Filmy / Seriale"
2,7/6/2024 12:20:46,45-54,Mężczyzna,Magister,16 i więcej,Edukacja,"Kursy online, Książki, Warsztaty, Praca zespoł...",10-15 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,Słone,Las,Filmy / Seriale
3,7/6/2024 18:51:25,35-44,Mężczyzna,Szkoła średnia / Technikum,11-15 lat,NaN,"Kursy online, Warsztaty, Praca zespołowa",10-15 godzin,"Rozwój kariery, Wyzwania intelektualne, Wynagr...",Koty,Słodkie,Góry,"Sport, Książki, Filmy / Seriale"
4,7/6/2024 23:20:24,35-44,Mężczyzna,Magister,16 i więcej,Energetyka,"Kursy online, Książki",5-10 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,Słodkie,las i jezioro,"Sport, zabawy z dziećmi"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Timestamp             140 non-null    object
 1   age                   139 non-null    object
 2   gender                138 non-null    object
 3   edu_level             139 non-null    object
 4   years_of_experience   138 non-null    object
 5   industry              132 non-null    object
 6   learning_preferences  138 non-null    object
 7   weekly_study_hours    139 non-null    object
 8   motivation            137 non-null    object
 9   fav_animals           123 non-null    object
 10  sweet_or_salty        130 non-null    object
 11  fav_place             135 non-null    object
 12  hobbies               135 non-null    object
dtypes: object(13)
memory usage: 14.3+ KB

In [8]:
df.nunique()

Timestamp               139
age                       8
gender                    2
edu_level                14
years_of_experience       5
industry                 74
learning_preferences     24
weekly_study_hours        5
motivation               43
fav_animals              28
sweet_or_salty            2
fav_place                25
hobbies                  58
dtype: int64

In [9]:
df.isnull().sum()

Timestamp                0
age                      1
gender                   2
edu_level                1
years_of_experience      2
industry                 8
learning_preferences     2
weekly_study_hours       1
motivation               3
fav_animals             17
sweet_or_salty          10
fav_place                5
hobbies                  5
dtype: int64

In [10]:
df[df['age'].isnull()]
df = df.dropna(subset=['age'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139 entries, 0 to 139
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Timestamp             139 non-null    object
 1   age                   139 non-null    object
 2   gender                138 non-null    object
 3   edu_level             139 non-null    object
 4   years_of_experience   138 non-null    object
 5   industry              132 non-null    object
 6   learning_preferences  138 non-null    object
 7   weekly_study_hours    139 non-null    object
 8   motivation            137 non-null    object
 9   fav_animals           123 non-null    object
 10  sweet_or_salty        130 non-null    object
 11  fav_place             135 non-null    object
 12  hobbies               135 non-null    object
dtypes: object(13)
memory usage: 15.2+ KB

## Naprawa/Czyszczenie kolumny `Wiek`

In [12]:
print(df["age"].value_counts())
df["age"].value_counts().sum()

age
35-44               55
45-54               40
25-34               22
55-64                9
18-24                6
65 i więcej          5
Poniżej 18 lat       1
Nie chcę podawać     1
Name: count, dtype: int64

np.int64(139)

In [13]:
df["age_cleaned"] = df["age"].map({
    "Poniżej 18 lat": "<18",
    "18-24": "18-24",
    "25-34": "25-34",
    "35-44": "35-44",
    "45-54": "45-54",
    "55-64": "55-64",
    "65 i więcej": ">=65",
    "Nie chcę podawać": "unknown"
})
df["age_cleaned"] = df["age_cleaned"].fillna("unknown")
print(df["age_cleaned"].value_counts())
df["age_cleaned"].value_counts().sum()

age_cleaned
35-44      55
45-54      40
25-34      22
55-64       9
18-24       6
>=65        5
<18         1
unknown     1
Name: count, dtype: int64

np.int64(139)

## Naprawa/Czyszczenie kolumny `Płeć`

In [14]:
df["gender"].value_counts()

gender
Mężczyzna    106
Kobieta       32
Name: count, dtype: int64

In [15]:
df["gender_cleaned"] = df["gender"].map({
    "Mężczyzna": 0,
    "Kobieta": 1,
})
df["gender_cleaned"].value_counts()

gender_cleaned
0.0    106
1.0     32
Name: count, dtype: int64

## Naprawa/Czyszczenie kolumny `Liczba lat doświadczenia zawodowego`

In [16]:
print(df["years_of_experience"].value_counts())
df["years_of_experience"].value_counts().sum()

years_of_experience
16 i więcej    65
6-10 lat       28
11-15 lat      25
0-2 lata       13
3-5 lat         7
Name: count, dtype: int64

np.int64(138)

In [17]:
df["years_of_experience_cleaned"] = df["years_of_experience"].map({
    "0-2 lata": "0-2",
    "3-5 lat": "3-5",
    "6-10 lat": "6-10",
    "11-15 lat": "11-15",
    "16 i więcej": ">=16",
})
df["years_of_experience_cleaned"].value_counts()

years_of_experience_cleaned
>=16     65
6-10     28
11-15    25
0-2      13
3-5       7
Name: count, dtype: int64

## Naprawa/Czyszczenie kolumny `Jak spędzasz wolny czas?`

In [18]:
print(df["hobbies"].value_counts())
df["hobbies"].value_counts().sum()

hobbies
Sport                                                                         12
Książki                                                                       11
Gry komputerowe, Filmy / Seriale                                               9
Sport, Książki, Filmy / Seriale                                                9
Sport, Gry komputerowe                                                         7
Książki, Filmy / Seriale                                                       6
Książki, Gry komputerowe, Filmy / Seriale                                      5
Filmy / Seriale                                                                5
Sport, Książki, Gry komputerowe, Filmy / Seriale                               5
Sport, Filmy / Seriale                                                         4
Sport, Gry komputerowe, Filmy / Seriale                                        4
Sport, Książki                                                                 4
Sztuka, Filmy / Seriale                                                        3
Sport, Sztuka, Filmy / Seriale                                                 3
Sport, Książki, Gry komputerowe                                                2
Sport, Książki, Sztuka, Filmy / Seriale                                        2
Sport, Książki, Sztuka                                                         2
Sztuka                                                                         2
Mechanika pojazdowa i tuning                                                   1
Sport, Książki, samochody                                                      1
Z dziećmi :)                                                                   1
Marketing internetowy                                                          1
Spacery/wędrówki z bliskimi, z psem.                                           1
Majsterkuję w garażu                                                           1
Książki, Filmy / Seriale, wędrówki, jazda na rowerze, podróże, gotowanie       1
Sport, zabawy z dziećmi                                                        1
jazda rowerem, audiobooki                                                      1
Filmy / Seriale, Internet                                                      1
Książki, Filmy / Seriale, podróże                                              1
Książki, Sztuka, spacer, gry w telefonie                                       1
Pracuje w warsztacie samochodowym przy własnym projekcie                       1
Sport, Z rodziną                                                               1
Książki, Sztuka, Psychologia społeczna                                         1
Sport, Filmy / Seriale, turystyka piesza                                       1
spotkania z ludźmi                                                             1
Książki, Filmy / Seriale, puzzle                                               1
Sport, Książki, R&D + ... odpoczywam ;)                                        1
Ukladanie puzli, praca w ogrodzie przy kwiatach                                1
Filmy / Seriale, Komputery systemy szkololenia                                 1
Sport, Filmy / Seriale, spotkania z rodziną i przyjaciółmi                     1
Sport, Książki, Opieka nad dzieckiem                                           1
Książki, Sztuka, Filmy / Seriale                                               1
Książki, Nauka angielskiego                                                    1
Książki, Sztuka,                                                               1
Książki, Sztuka, Filmy / Seriale, podróżowanie                                 1
Książki, Gry komputerowe, Podróże                                              1
Podróże                                                                        1
Książki, Motoryzacja                                                           1
Filmy / Seriale, Filmy dokumentalne z których można się czegoś dowiedzieć      1
Sport, Książki, Nauka o AI, Webinary z programowania, Cyberbezpieczeństwo      1
Sport, Filmy / Seriale, IOT                                                    1
Sport, Tańce latynoamerykańskie, Kognitywistyka, Turystyka                     1
Książki, Gry komputerowe                                                       1
Gry komputerowe                                                                1
Książki, Gry komputerowe, Sztuka, Filmy / Seriale, Pub                         1
Książki, Filmy / Seriale, Gitara                                               1
Sport, Nauka                                                                   1
Książki, Filmy / Seriale, Rozmowy z bliskimi                                   1
Name: count, dtype: int64

np.int64(135)

In [19]:
print(df["hobbies"].str.get_dummies(sep=", ").sum().sort_values(ascending=False))
df["hobbies"].str.get_dummies(sep=", ").sum().sort_values(ascending=False).sum()

Filmy / Seriale                                              69
Książki                                                      65
Sport                                                        65
Gry komputerowe                                              36
Sztuka                                                       18
Podróże                                                       2
podróże                                                       2
Cyberbezpieczeństwo                                           1
Gitara                                                        1
Filmy dokumentalne z których można się czegoś dowiedzieć      1
Majsterkuję w garażu                                          1
Marketing internetowy                                         1
Mechanika pojazdowa i tuning                                  1
Motoryzacja                                                   1
IOT                                                           1
Internet                                                      1
Kognitywistyka                                                1
Komputery systemy szkololenia                                 1
Opieka nad dzieckiem                                          1
Nauka o AI                                                    1
Nauka angielskiego                                            1
Nauka                                                         1
Pub                                                           1
R&D + ... odpoczywam ;)                                       1
Rozmowy z bliskimi                                            1
Psychologia społeczna                                         1
Spacery/wędrówki z bliskimi                                   1
Tańce latynoamerykańskie                                      1
Turystyka                                                     1
Ukladanie puzli                                               1
Webinary z programowania                                      1
Z dziećmi :)                                                  1
Z rodziną                                                     1
Pracuje w warsztacie samochodowym przy własnym projekcie      1
audiobooki                                                    1
gotowanie                                                     1
jazda na rowerze                                              1
gry w telefonie                                               1
jazda rowerem                                                 1
podróżowanie                                                  1
praca w ogrodzie przy kwiatach                                1
puzzle                                                        1
samochody                                                     1
spacer                                                        1
spotkania z ludźmi                                            1
spotkania z rodziną i przyjaciółmi                            1
turystyka piesza                                              1
wędrówki                                                      1
z psem.                                                       1
zabawy z dziećmi                                              1
dtype: int64

np.int64(300)

In [20]:
def categorize_hobbies(hobbies):
    if not isinstance(hobbies, str):
        return []

    cleaned = []
    for hobby in hobbies.split(", "):
        if hobby == "Filmy / Seriale":
            cleaned.append("hobby_movies")
        elif hobby == "Sport":
            cleaned.append("hobby_sport")
        elif hobby == "Książki":
            cleaned.append("hobby_books")
        elif hobby == "Gry komputerowe":
            cleaned.append("hobby_video_games")
        elif hobby == "Sztuka":
            cleaned.append("hobby_art")
        else:
            cleaned.append("hobby_other")

    return ", ".join(cleaned)


df["hobbies_cleaned"] = df["hobbies"].apply(categorize_hobbies)
print(df["hobbies_cleaned"].str.get_dummies(sep=", ").sum().sort_values(ascending=False))
df["hobbies_cleaned"].str.get_dummies(sep=", ").sum().sort_values(ascending=False).sum()

hobby_movies         69
hobby_sport          65
hobby_books          65
hobby_other          37
hobby_video_games    36
hobby_art            18
[]                    4
dtype: int64

np.int64(294)

In [21]:
hobbies_df = df["hobbies_cleaned"].str.get_dummies(sep=", ")
hobbies_df = hobbies_df.drop(columns=["[]"])
hobbies_df

,hobby_art,hobby_books,hobby_movies,hobby_other,hobby_sport,hobby_video_games
0,0,0,0,0,0,0
1,0,0,1,0,0,1
2,0,0,1,0,0,0
3,0,1,1,0,1,0
4,0,0,0,1,1,0
...,...,...,...,...,...,...
135,0,0,0,0,1,1
136,0,0,0,1,1,0
137,0,1,1,1,0,0
138,0,0,1,0,0,0
139,0,0,1,0,0,1

In [22]:
df = pd.concat([df, hobbies_df], axis=1)

## Naprawa/Czyszczenie kolumny `Bardziej lubisz przysmaki słodkie czy słone?`

In [23]:
df["sweet_or_salty"].value_counts()

sweet_or_salty
Słodkie    77
Słone      53
Name: count, dtype: int64

In [24]:
df["sweet_or_salty_cleaned"] = df["sweet_or_salty"].map({
    "Słone": "salty",
    "Słodkie": "sweet",
})
df["sweet_or_salty_cleaned"].value_counts()

sweet_or_salty_cleaned
sweet    77
salty    53
Name: count, dtype: int64

## Naprawa/Czyszczenie kolumny `Jakie jest Twoje ulubione miejsce na ziemi?`

In [25]:
print(df["fav_place"].value_counts())
df["fav_place"].value_counts().sum()

fav_place
Góry                                              43
Morze                                             42
Las                                               26
Miasto                                             3
las i jezioro                                      1
Zielona oaza siedliskowa nad wodą.                 1
ruch, spacer nad morzem                            1
dom                                                1
we wszystkich miejscach czuje sie dobrze           1
Jezioro                                            1
Dom                                                1
Góry połączone z jeziorem                          1
wieś                                               1
Morze Las                                          1
góry, morze, las                                   1
Teren nad rzeką                                    1
Albania                                            1
Mazury                                             1
Góry, Morze, Las                                   1
miejsca, gdzie jest mało ludzi                     1
teren gdzie temperatura nie spada do 20 stopni     1
góry + zbiornik wodny (np. Jezioro Garda)          1
Każde z powyższych                                 1
Wyspy / Ocean                                      1
Las i jezioro                                      1
Name: count, dtype: int64

np.int64(135)

In [26]:
for place in df["fav_place"].dropna().unique():
    print(f'"{place}"')
df["fav_place"].dropna().nunique()

"Morze"
"Las"
"Góry"
"las i jezioro"
"Zielona oaza siedliskowa nad wodą."
"Miasto"
"ruch, spacer nad morzem"
"dom"
"we wszystkich miejscach czuje sie dobrze"
"Jezioro"
"Dom"
"Góry połączone z jeziorem"
"wieś"
"Morze Las "
"góry, morze, las"
"Teren nad rzeką "
"Albania "
"Mazury"
"Góry, Morze, Las"
"miejsca, gdzie jest mało ludzi"
"teren gdzie temperatura nie spada do 20 stopni"
"góry + zbiornik wodny (np. Jezioro Garda)"
"Każde z powyższych"
"Wyspy / Ocean"
"Las i jezioro"

25

In [27]:
ASK("""
W kolumnie 'Jakie jest Twoje ulubione miejsce na ziemi?' mam różne wartości. Niektóre można by zgrupować w jedną kategorię,
np. 'Nad wodą', 'W górach' .etc
Oto wartości w tej kolumnie:
"Morze"
"Las"
"Góry"
"las i jezioro"
"Zielona oaza siedliskowa nad wodą."
"Miasto"
"ruch, spacer nad morzem"
"dom"
"we wszystkich miejscach czuje sie dobrze"
"Jezioro"
"Dom"
"Góry połączone z jeziorem"
"wieś"
"Morze Las "
"góry, morze, las"
"Teren nad rzeką "
"Albania "
"Mazury"
"Góry, Morze, Las"
"miejsca, gdzie jest mało ludzi"
"teren gdzie temperatura nie spada do 20 stopni"
"góry + zbiornik wodny (np. Jezioro Garda)"
"Każde z powyższych"
"Wyspy / Ocean"
"Las i jezioro"

Jak zgrupować te wartości, wszystkie 25, do mniejszej liczby kategorii?
""")

Aby zgrupować te wartości w mniejsze kategorie, możesz stworzyć słownik, który przypisuje każdą unikalną wartość do odpowiedniej kategorii. Oto przykładowy kod w Pythonie, który to realizuje:

```python
import pandas as pd

# Przykładowe dane
data = {
    'Jakie jest Twoje ulubione miejsce na ziemi?': [
        "Morze", "Las", "Góry", "las i jezioro", "Zielona oaza siedliskowa nad wodą.",
        "Miasto", "ruch, spacer nad morzem", "dom", "we wszystkich miejscach czuje sie dobrze",
        "Jezioro", "Dom", "Góry połączone z jeziorem", "wieś", "Morze Las ",
        "góry, morze, las", "Teren nad rzeką ", "Albania ", "Mazury",
        "Góry, Morze, Las", "miejsca, gdzie jest mało ludzi",
        "teren gdzie temperatura nie spada do 20 stopni",
        "góry + zbiornik wodny (np. Jezioro Garda)", "Każde z powyższych",
        "Wyspy / Ocean", "Las i jezioro"
    ]
}

df = pd.DataFrame(data)

# Słownik z grupowaniem
category_mapping = {
    'Morze': 'Nad wodą',
    'Las': 'Nad wodą',
    'Góry': 'W górach',
    'las i jezioro': 'Nad wodą',
    'Zielona oaza siedliskowa nad wodą.': 'Nad wodą',
    'Miasto': 'Inne',
    'ruch, spacer nad morzem': 'Nad wodą',
    'dom': 'Inne',
    'we wszystkich miejscach czuje sie dobrze': 'Inne',
    'Jezioro': 'Nad wodą',
    'Dom': 'Inne',
    'Góry połączone z jeziorem': 'W górach',
    'wieś': 'Inne',
    'Morze Las ': 'Nad wodą',
    'góry, morze, las': 'Nad wodą',
    'Teren nad rzeką ': 'Nad wodą',
    'Albania ': 'Inne',
    'Mazury': 'Nad wodą',
    'Góry, Morze, Las': 'Nad wodą',
    'miejsca, gdzie jest mało ludzi': 'Inne',
    'teren gdzie temperatura nie spada do 20 stopni': 'Inne',
    'góry + zbiornik wodny (np. Jezioro Garda)': 'W górach',
    'Każde z powyższych': 'Inne',
    'Wyspy / Ocean': 'Nad wodą',
    'Las i jezioro': 'Nad wodą'
}

# Zastosowanie mapowania
df['Kategoria'] = df['Jakie jest Twoje ulubione miejsce na ziemi?'].map(category_mapping)

# Wyświetlenie wyników
print(df)
```

W powyższym kodzie:
1. Tworzymy DataFrame z danymi.
2. Definiujemy słownik `category_mapping`, który przypisuje każdą wartość do odpowiedniej kategorii.
3. Używamy metody `map`, aby dodać nową kolumnę z kategoriami do DataFrame.

Możesz dostosować kategorie w słowniku według własnych potrzeb.

In [56]:
category_map = {
    "Morze": "Nad wodą",
    "Jezioro": "Nad wodą",
    "ruch, spacer nad morzem": "Nad wodą",
    "Zielona oaza siedliskowa nad wodą.": "Nad wodą",
    "Teren nad rzeką ": "Nad wodą",
    "góry + zbiornik wodny (np. Jezioro Garda)": "Nad wodą",
    "Wyspy / Ocean": "Nad wodą",
    "Góry": "W górach",
    "Góry połączone z jeziorem": "W górach",
    "góry, morze, las": "W górach",
    "Góry, Morze, Las": "W górach",
    "Las": "W lesie",
    "las i jezioro": "W lesie",
    "Las i jezioro": "W lesie",
    "Miasto": "Miasto",
    "wieś": "Wieś",
    "dom": "Inne",
    "Dom": "Inne",
    "we wszystkich miejscach czuje sie dobrze": "Inne",
    "miejsca, gdzie jest mało ludzi": "Inne",
    "teren gdzie temperatura nie spada do 20 stopni": "Inne",
    "Każde z powyższych": "Inne",
    "Morze Las ": "Nad wodą",
    "Mazury": "Inne",
    "Albania ": "Inne",
}

df['fav_place_cleaned'] = df['fav_place'].map(category_map)
print(df['fav_place_cleaned'].value_counts())
df['fav_place_cleaned'].value_counts().sum()

fav_place_cleaned
Nad wodą    49
W górach    46
W lesie     28
Inne         8
Miasto       3
Wieś         1
Name: count, dtype: int64

np.int64(135)

## Naprawa/Czyszczenie kolumny `Poziom wykształcenia`

In [28]:
df["edu_level"].value_counts()
df["edu_level"].value_counts().sum()

np.int64(139)

In [29]:
len(df["edu_level"].dropna().unique())

14

In [30]:
", ".join(df["edu_level"].dropna().unique().tolist())

'Szkoła podstawowa, Szkoła średnia / Technikum, Magister, Inżynier, Doktorat, mgr inż., Licencjat, Studia podyplomowe, Szkoła zawodowa, inżynier, Inżynier , magister inżynier, W szkole doktorskiej, Inżynierskie + podyplomowe'

In [31]:
ASK("""
W kolumnie 'Poziom wykształcenia' mam różne wartości. Niektóre można by zgrupować w jedną kategorię,
np. 'Podstawowe', 'Średnie', 'Wyższe'.
Oto wartości w tej kolumnie:
    Szkoła podstawowa, Szkoła średnia / Technikum, Magister, Inżynier, Doktorat, mgr inż., Licencjat,
    Studia podyplomowe, Szkoła zawodowa, inżynier, Inżynier , magister inżynier, W szkole doktorskiej, Inżynierskie + podyplomowe

Jak zgrupować te wartości w mniej kategorii?
""")

Możesz zgrupować te wartości w trzy kategorie: 'Podstawowe', 'Średnie' i 'Wyższe'. Oto jak możesz to zrobić w Pythonie, używając biblioteki pandas:

```python
import pandas as pd

# Przykładowe dane
data = {
    'Poziom wykształcenia': [
        'Szkoła podstawowa', 'Szkoła średnia / Technikum', 'Magister',
        'Inżynier', 'Doktorat', 'mgr inż.', 'Licencjat',
        'Studia podyplomowe', 'Szkoła zawodowa', 'inżynier',
        'Inżynier', 'magister inżynier', 'W szkole doktorskiej',
        'Inżynierskie + podyplomowe'
    ]
}

df = pd.DataFrame(data)

# Funkcja do grupowania
def group_education(level):
    if 'podstawowa' in level.lower():
        return 'Podstawowe'
    elif 'średnia' in level.lower() or 'zawodowa' in level.lower() or 'technikum' in level.lower():
        return 'Średnie'
    else:
        return 'Wyższe'

# Zastosowanie funkcji do kolumny
df['Grupowany poziom wykształcenia'] = df['Poziom wykształcenia'].apply(group_education)

print(df)
```

Ten kod tworzy nową kolumnę 'Grupowany poziom wykształcenia', w której wartości są zgrupowane zgodnie z określonymi kategoriami.

In [32]:
def group_education(level):
    if level in ['Szkoła podstawowa']:
        return 'Podstawowe'
    elif level in ['Szkoła średnia / Technikum', 'Szkoła zawodowa']:
        return 'Średnie'
    else:
        return 'Wyższe'

# Zastosowanie funkcji do kolumny
df['edu_level_cleaned'] = df['edu_level'].apply(group_education)

In [33]:
df['edu_level_cleaned'].value_counts()

edu_level_cleaned
Wyższe        109
Średnie        29
Podstawowe      1
Name: count, dtype: int64

## Naprawa/Czyszczenie kolumny `Obecna branża`

In [34]:
print(df["industry"].value_counts())
df["industry"].value_counts().sum()

industry
IT                                                        28
Edukacja                                                   7
Zdrowie                                                    7
Finanse                                                    7
Marketing                                                  5
                                                          ..
fotowoltaika                                               1
Mechanik Samochodowy                                       1
Gastronomia                                                1
Pracuję przy projektach związanych z sieciami gazowymi     1
Spedycja                                                   1
Name: count, Length: 74, dtype: int64

np.int64(132)

In [35]:
for item in df["industry"].dropna().unique():
    print(f'"{item}"')
len(df["industry"].dropna().unique())

"IT"
"Edukacja"
"Energetyka"
"Automotvie"
"Automatyzacja"
"Energetyka zawodowa"
"Zdrowie"
"Kadry (HR)"
"Marketing"
"Produkcja"
"Wellness"
"Chemia"
"Nieruchomości"
"poligrafia"
"Administracja publiczna"
"chemik branża automotive"
"usługi"
"obsługa klienta"
"brak"
"Budowlana"
"Automatyka i robotyka"
"Bezrobotny"
"Finanse"
"izynier GPS"
"Opieka"
"emeryt"
"Hotelarstwo"
"Budowa maszyn "
"energetyka"
"Logistyka"
"Branża Produkcyjno Usługowa "
"Motoryzacja"
"Media, fotografia, wideo dron, ..."
"Bez pracy, ostatnio HR"
"logistyka, zakupy w dystrybucji IT"
"R&D"
"przemysł - zarządzanie jakością"
"Inżyniera "
"Pracownik naukowy: Nawigacja samolotowa, systemy nawigacji satelitarnej, "
"administrator sieci i systemów w służbie zdrowia"
"FMCG "
"produkcja"
"fundusze europejskie"
"Administracja "
"Projektowanie mebli na wymiar"
"Logistyka "
"Ochrona Środowiska"
"Automotiv"
"Pomoc Społeczna (Asystent osobisty osoby z niepełnosprawnością)"
"Zabezpieczenia transportowe"
"Logistyka i Produkcja"
"Transport"
"Property Management"
"księgowość"
"Bezpieczeństwo"
"Produkcja "
"Mechanik"
"Logistyka i Transport"
"handel"
"budownictwo/architektura"
"Usługi"
"Transport Międzynarodowy"
"Chłodnictwo, Marketing, SEO"
"logistyka"
"usługi elektryczne"
"Architektura/Urbansityka"
"Inżynieria"
"e-commerce"
"Budownictwo"
"fotowoltaika"
"Mechanik Samochodowy"
"Gastronomia"
"Pracuję przy projektach związanych z sieciami gazowymi"
"Spedycja"

74

In [36]:
ASK("""
Dla każdej z podanych nazw przypisz branżę:
"IT"
"Edukacja"
"Energetyka"
"Automotvie"
"Automatyzacja"
"Energetyka zawodowa"
"Zdrowie"
"Kadry (HR)"
"Marketing"
"Produkcja"
"Wellness"
"Chemia"
"Nieruchomości"
"poligrafia"
"Administracja publiczna"
"chemik branża automotive"
"usługi"
"obsługa klienta"
"brak"
"Budowlana"
"Automatyka i robotyka"
"Bezrobotny"
"Finanse"
"izynier GPS"
"Opieka"
"emeryt"
"Hotelarstwo"
"Budowa maszyn "
"energetyka"
"Logistyka"
"Branża Produkcyjno Usługowa "
"Motoryzacja"
"Media, fotografia, wideo dron, ..."
"Bez pracy, ostatnio HR"
"logistyka, zakupy w dystrybucji IT"
"R&D"
"przemysł - zarządzanie jakością"
"Inżyniera "
"Pracownik naukowy: Nawigacja samolotowa, systemy nawigacji satelitarnej, "
"administrator sieci i systemów w służbie zdrowia"
"FMCG "
"produkcja"
"fundusze europejskie"
"Administracja "
"Projektowanie mebli na wymiar"
"Logistyka "
"Ochrona Środowiska"
"Automotiv"
"Pomoc Społeczna (Asystent osobisty osoby z niepełnosprawnością)"
"Zabezpieczenia transportowe"
"Logistyka i Produkcja"
"Transport"
"Property Management"
"księgowość"
"Bezpieczeństwo"
"Produkcja "
"Mechanik"
"Logistyka i Transport"
"handel"
"budownictwo/architektura"
"Usługi"
"Transport Międzynarodowy"
"Chłodnictwo, Marketing, SEO"
"logistyka"
"usługi elektryczne"
"Architektura/Urbansityka"
"Inżynieria"
"e-commerce"
"Budownictwo"
"fotowoltaika"
"Mechanik Samochodowy"
"Gastronomia"
"Pracuję przy projektach związanych z sieciami gazowymi"
"Spedycja"

Odpowiedź zwróć jako słownik pythona, gdzie kluczem jest podana przeze mnie nazwa, wszystkie 74 nazwy, a wartością przypisana branża.
""")

Oto słownik w Pythonie, który przypisuje odpowiednie branże do podanych nazw:

```python
branże = {
    "IT": "IT",
    "Edukacja": "Edukacja",
    "Energetyka": "Energetyka",
    "Automotvie": "Automotvie",
    "Automatyzacja": "Automatyzacja",
    "Energetyka zawodowa": "Energetyka",
    "Zdrowie": "Zdrowie",
    "Kadry (HR)": "HR",
    "Marketing": "Marketing",
    "Produkcja": "Produkcja",
    "Wellness": "Wellness",
    "Chemia": "Chemia",
    "Nieruchomości": "Nieruchomości",
    "poligrafia": "Poligrafia",
    "Administracja publiczna": "Administracja",
    "chemik branża automotive": "Automotvie",
    "usługi": "Usługi",
    "obsługa klienta": "Obsługa klienta",
    "brak": "Brak",
    "Budowlana": "Budownictwo",
    "Automatyka i robotyka": "Automatyzacja",
    "Bezrobotny": "Bezrobotny",
    "Finanse": "Finanse",
    "izynier GPS": "Inżynieria",
    "Opieka": "Opieka",
    "emeryt": "Emerytura",
    "Hotelarstwo": "Hotelarstwo",
    "Budowa maszyn ": "Produkcja",
    "energetyka": "Energetyka",
    "Logistyka": "Logistyka",
    "Branża Produkcyjno Usługowa ": "Produkcja",
    "Motoryzacja": "Automotvie",
    "Media, fotografia, wideo dron, ...": "Media",
    "Bez pracy, ostatnio HR": "HR",
    "logistyka, zakupy w dystrybucji IT": "Logistyka",
    "R&D": "Badania i rozwój",
    "przemysł - zarządzanie jakością": "Produkcja",
    "Inżyniera ": "Inżynieria",
    "Pracownik naukowy: Nawigacja samolotowa, systemy nawigacji satelitarnej, ": "Nauka",
    "administrator sieci i systemów w służbie zdrowia": "Zdrowie",
    "FMCG ": "FMCG",
    "produkcja": "Produkcja",
    "fundusze europejskie": "Finanse",
    "Administracja ": "Administracja",
    "Projektowanie mebli na wymiar": "Design",
    "Logistyka ": "Logistyka",
    "Ochrona Środowiska": "Ochrona Środowiska",
    "Automotiv": "Automotvie",
    "Pomoc Społeczna (Asystent osobisty osoby z niepełnosprawnością)": "Pomoc społeczna",
    "Zabezpieczenia transportowe": "Transport",
    "Logistyka i Produkcja": "Logistyka",
    "Transport": "Transport",
    "Property Management": "Nieruchomości",
    "księgowość": "Finanse",
    "Bezpieczeństwo": "Bezpieczeństwo",
    "Produkcja ": "Produkcja",
    "Mechanik": "Automotvie",
    "Logistyka i Transport": "Logistyka",
    "handel": "Handel",
    "budownictwo/architektura": "Budownictwo",
    "Usługi": "Usługi",
    "Transport Międzynarodowy": "Transport",
    "Chłodnictwo, Marketing, SEO": "Marketing",
    "logistyka": "Logistyka",
    "usługi elektryczne": "Usługi",
    "Architektura/Urbansityka": "Architektura",
    "Inżynieria": "Inżynieria",
    "e-commerce": "E-commerce",
    "Budownictwo": "Budownictwo",
    "fotowoltaika": "Energetyka",
    "Mechanik Samochodowy": "Automotvie",
    "Gastronomia": "Gastronomia",
    "Pracuję przy projektach związanych z sieciami gazowymi": "Energetyka",
    "Spedycja": "Logistyka"
}
```

Możesz użyć tego słownika w swoim kodzie, aby przypisać branże do nazw.

In [37]:
df["industry_cleaned"] = df["industry"].map({
    "IT": "IT",
    "Edukacja": "Edukacja",
    "Energetyka": "Energetyka",
    "Automotvie": "Automotive",
    "Automatyzacja": "Automatyzacja",
    "Energetyka zawodowa": "Energetyka",
    "Zdrowie": "Zdrowie",
    "Kadry (HR)": "Kadry (HR)",
    "Marketing": "Marketing",
    "Produkcja": "Produkcja",
    "Wellness": "Wellness",
    "Chemia": "Chemia",
    "Nieruchomości": "Nieruchomości",
    "poligrafia": "Poligrafia",
    "Administracja publiczna": "Administracja publiczna",
    "chemik branża automotive": "Automotive",
    "usługi": "Usługi",
    "obsługa klienta": "Obsługa klienta",
    "brak": "Brak",
    "Budowlana": "Budownictwo",
    "Automatyka i robotyka": "Automatyzacja",
    "Bezrobotny": "Bezrobotny",
    "Finanse": "Finanse",
    "izynier GPS": "Inżynieria",
    "Opieka": "Opieka",
    "emeryt": "Emeryt",
    "Hotelarstwo": "Hotelarstwo",
    "Budowa maszyn ": "Produkcja",
    "energetyka": "Energetyka",
    "Logistyka": "Logistyka",
    "Branża Produkcyjno Usługowa ": "Produkcja",
    "Motoryzacja": "Automotive",
    "Media, fotografia, wideo dron, ...": "Media",
    "Bez pracy, ostatnio HR": "Brak",
    "logistyka, zakupy w dystrybucji IT": "Logistyka",
    "R&D": "Badania i rozwój",
    "przemysł - zarządzanie jakością": "Produkcja",
    "Inżyniera ": "Inżynieria",
    "Pracownik naukowy: Nawigacja samolotowa, systemy nawigacji satelitarnej, ": "Nauka",
    "administrator sieci i systemów w służbie zdrowia": "Zdrowie",
    "FMCG ": "FMCG",
    "produkcja": "Produkcja",
    "fundusze europejskie": "Finanse",
    "Administracja ": "Administracja",
    "Projektowanie mebli na wymiar": "Usługi",
    "Logistyka ": "Logistyka",
    "Ochrona Środowiska": "Ochrona Środowiska",
    "Automotiv": "Automotive",
    "Pomoc Społeczna (Asystent osobisty osoby z niepełnosprawnością)": "Pomoc społeczna",
    "Zabezpieczenia transportowe": "Transport",
    "Logistyka i Produkcja": "Logistyka",
    "Transport": "Transport",
    "Property Management": "Nieruchomości",
    "księgowość": "Finanse",
    "Bezpieczeństwo": "Bezpieczeństwo",
    "Produkcja ": "Produkcja",
    "Mechanik": "Automotive",
    "Logistyka i Transport": "Logistyka",
    "handel": "Handel",
    "budownictwo/architektura": "Budownictwo",
    "Usługi": "Usługi",
    "Transport Międzynarodowy": "Transport",
    "Chłodnictwo, Marketing, SEO": "Marketing",
    "logistyka": "Logistyka",
    "usługi elektryczne": "Usługi",
    "Architektura/Urbansityka": "Architektura",
    "Inżynieria": "Inżynieria",
    "e-commerce": "E-commerce",
    "Budownictwo": "Budownictwo",
    "fotowoltaika": "Energetyka",
    "Mechanik Samochodowy": "Automotive",
    "Gastronomia": "Gastronomia",
    "Pracuję przy projektach związanych z sieciami gazowymi": "Energetyka",
    "Spedycja": "Logistyka"
})

print(df['industry_cleaned'].value_counts())
df['industry_cleaned'].value_counts().sum()

industry_cleaned
IT                         28
Logistyka                  10
Finanse                     9
Zdrowie                     8
Edukacja                    7
Produkcja                   7
Energetyka                  6
Automotive                  6
Marketing                   6
Usługi                      5
Transport                   4
Budownictwo                 4
Inżynieria                  3
Automatyzacja               2
Brak                        2
Nieruchomości               2
Administracja publiczna     2
Chemia                      1
Poligrafia                  1
Obsługa klienta             1
Kadry (HR)                  1
Wellness                    1
Opieka                      1
Bezrobotny                  1
Hotelarstwo                 1
Emeryt                      1
Badania i rozwój            1
Nauka                       1
FMCG                        1
Media                       1
Administracja               1
Ochrona Środowiska          1
Pomoc społeczna             1
Bezpieczeństwo              1
Handel                      1
Architektura                1
E-commerce                  1
Gastronomia                 1
Name: count, dtype: int64

np.int64(132)

In [38]:
len(df["industry_cleaned"].unique())

39

## Naprawa/Czyszczenie kolumny `Jak zwierzęta są Twoimi ulubionymi?`

In [39]:
print(df["fav_animals"].value_counts(dropna=False))
df["fav_animals"].value_counts(dropna=False).sum()

fav_animals
Psy                                                                                                                                                                                                                               75
Koty                                                                                                                                                                                                                              21
NaN                                                                                                                                                                                                                               16
ptaki                                                                                                                                                                                                                              2
pająki                                                                                                                                                                                                                             1
Nie mam :) Mam kota, psa, ptaki, rybki i trójkę dzieci                                                                                                                                                                             1
Brak                                                                                                                                                                                                                               1
koty i psy                                                                                                                                                                                                                         1
konie                                                                                                                                                                                                                              1
Ptaki                                                                                                                                                                                                                              1
nie lubię                                                                                                                                                                                                                          1
Konie, żółwie                                                                                                                                                                                                                      1
Nie mam ulubionych zwierząt                                                                                                                                                                                                        1
Pingwiny                                                                                                                                                                                                                           1
lubię i koty i psy ;)                                                                                                                                                                                                              1
papugi                                                                                                                                                                                                                             1
Misie koala                                                                                                                                                                                                                        1
Psy i Koty                                                                                                                                                                                                                         1
Lubię koty, ale mam psa, który jest moim przyjacielem i dba abym się nie przepracowywał. Oprócz tego pies zwiększa moje kompetencje społeczne na osiedlu, co jest ważne, gdy pracujesz w IT. A więc koniunkcja: i koty i psy.      1
Wszystkie                                                                                                                                                                                                                          1
jaszczurki                                                                                                                                                                                                                         1
Króliki minaturki                                                                                                                                                                                                                  1
egzotyczne                                                                                                                                                                                                                         1
Nie mam ulubionych zwierząt lubię sowy                                                                                                                                                                                             1
Lubię ogólnie zwierzęta                                                                                                                                                                                                            1
PSZCZOŁY - posiadam swoja pasiekę :-) Polecam pyszne miody !                                                                                                                                                                       1
Lemury                                                                                                                                                                                                                             1
Konie                                                                                                                                                                                                                              1
Kury                                                                                                                                                                                                                               1
Name: count, dtype: int64

np.int64(139)

In [40]:
len(df["fav_animals"].dropna().unique())

28

In [41]:
def categorize_animals(animal_name):
    if not isinstance(animal_name, str):
        return "Brak ulubionych"

    animal_name = animal_name.lower()
    if "Nie mam" in animal_name or "brak" in animal_name or "nie lubię" in animal_name:
        return "Brak ulubionych"

    elif "koty" in animal_name and "psy" in animal_name:
        return "Koty i Psy"

    elif "koty" in animal_name:
        return "Koty"

    elif "psy" in animal_name:
        return "Psy"

    else:
        return "Inne"

df["fav_animals_cleaned"] = df["fav_animals"].apply(categorize_animals)

In [43]:
print(df["fav_animals_cleaned"].value_counts())
df["fav_animals_cleaned"].value_counts().sum()

fav_animals_cleaned
Psy                75
Inne               21
Koty               21
Brak ulubionych    18
Koty i Psy          4
Name: count, dtype: int64

np.int64(139)

## Naprawa/Czyszczenie kolumny `Jak preferujesz się uczyć? (wybierz wszystkie, które pasują)`

In [44]:
print(df["learning_preferences"].value_counts())
df["learning_preferences"].value_counts().sum()

learning_preferences
Kursy online, Książki, Warsztaty, Praca zespołowa, Samodzielne projekty                     22
Kursy online, Książki, Samodzielne projekty                                                 20
Kursy online, Warsztaty, Praca zespołowa, Samodzielne projekty                              13
Kursy online                                                                                12
Kursy online, Książki                                                                       11
Kursy online, Warsztaty, Praca zespołowa                                                    10
Kursy online, Książki, Warsztaty                                                             8
Kursy online, Samodzielne projekty                                                           8
Kursy online, Książki, Warsztaty, Samodzielne projekty                                       6
Kursy online, Warsztaty                                                                      5
Kursy online, Książki, Warsztaty, Praca zespołowa                                            5
Kursy online, Warsztaty, Samodzielne projekty                                                3
Kursy online, Praca zespołowa, Samodzielne projekty                                          3
Książki                                                                                      2
Samodzielne projekty                                                                         1
Praca zespołowa                                                                              1
Kursy online, Książki, Warsztaty, Praca zespołowa, Samodzielne projekty, Praca z ChatGPT     1
Kursy online, Książki, Praca zespołowa, Kursy stacjonarne                                    1
Kursy online, Praca zespołowa                                                                1
Praca zespołowa, Samodzielne projekty                                                        1
Warsztaty, Praca zespołowa, Samodzielne projekty                                             1
Warsztaty, Praca zespołowa                                                                   1
Kursy online, Książki, Warsztaty, stacjonarnie                                               1
Kursy online, Warsztaty, Praca zespołowa, Uczenie innych osób.                               1
Name: count, dtype: int64

np.int64(138)

In [45]:
learning_pref_df = df["learning_preferences"].str.replace(", stacjonarnie", ", Kursy stacjonarne").str.get_dummies(sep=", ")
learning_pref_df

,Książki,Kursy online,Kursy stacjonarne,Praca z ChatGPT,Praca zespołowa,Samodzielne projekty,Uczenie innych osób.,Warsztaty
0,0,1,0,0,0,0,0,0
1,1,1,0,0,1,1,0,1
2,1,1,0,0,1,1,0,1
3,0,1,0,0,1,0,0,1
4,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
135,1,1,0,0,0,0,0,0
136,1,1,0,0,1,1,0,1
137,1,1,0,0,0,0,0,1
138,0,1,0,0,1,1,0,1
139,1,1,0,0,0,0,0,0

In [46]:
learning_pref_df = df["learning_preferences"].str.replace(", stacjonarnie", ", Kursy stacjonarne").str.get_dummies(sep=", ")
learning_pref_df = learning_pref_df.rename(columns={
    "Książki": "learning_pref_books",
    "Kursy online": "learning_pref_online_courses",
    "Kursy stacjonarne": "learning_pref_offline_courses",
    "Praca z ChatGPT": "learning_pref_chatgpt",
    "Praca zespołowa": "learning_pref_teamwork",
    "Samodzielne projekty": "learning_pref_personal_projects",
    "Uczenie innych osób." : "learning_pref_teaching",
    "Warsztaty": "learning_pref_workshops",
})
df = pd.concat([df, learning_pref_df], axis=1)
df.head()

,Timestamp,age,gender,edu_level,years_of_experience,industry,learning_preferences,weekly_study_hours,motivation,fav_animals,...,industry_cleaned,fav_animals_cleaned,learning_pref_books,learning_pref_online_courses,learning_pref_offline_courses,learning_pref_chatgpt,learning_pref_teamwork,learning_pref_personal_projects,learning_pref_teaching,learning_pref_workshops
0,7/4/2024 22:42:51,Poniżej 18 lat,Kobieta,Szkoła podstawowa,0-2 lata,IT,Kursy online,5-10 godzin,NaN,NaN,...,IT,Brak ulubionych,0,1,0,0,0,0,0,0
1,7/6/2024 11:00:48,25-34,Mężczyzna,Szkoła średnia / Technikum,11-15 lat,IT,"Kursy online, Książki, Warsztaty, Praca zespoł...",10-15 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,...,IT,Psy,1,1,0,0,1,1,0,1
2,7/6/2024 12:20:46,45-54,Mężczyzna,Magister,16 i więcej,Edukacja,"Kursy online, Książki, Warsztaty, Praca zespoł...",10-15 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,...,Edukacja,Psy,1,1,0,0,1,1,0,1
3,7/6/2024 18:51:25,35-44,Mężczyzna,Szkoła średnia / Technikum,11-15 lat,NaN,"Kursy online, Warsztaty, Praca zespołowa",10-15 godzin,"Rozwój kariery, Wyzwania intelektualne, Wynagr...",Koty,...,NaN,Koty,0,1,0,0,1,0,0,1
4,7/6/2024 23:20:24,35-44,Mężczyzna,Magister,16 i więcej,Energetyka,"Kursy online, Książki",5-10 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,...,Energetyka,Psy,1,1,0,0,0,0,0,0

## Naprawa/Czyszczenie kolumny `Co najbardziej motywuje Cię do nauki data science i AI? (wybierz maks. 3)`

In [47]:
df["motivation"].str.get_dummies(sep=", ").columns.tolist()

['Chęć zmiany zawodu',
 'Dodanie kompetencji Data Science do obecnego profilu IT',
 'Fascynacja możliwościami jakie daje nam AI',
 'Pasja do analizy danych',
 'Pomoc w realizacji swoich pomysłów',
 'Rozwiązywanie rzeczywistych problemów',
 'Rozwój kariery',
 'Swoboda pracy',
 'Wynagrodzenie',
 'Wyzwania intelektualne',
 'Zagadnienia w doktoracie',
 'jako dźwigni zwiększającej mój projektowy zasięg (getting out of the box).',
 'możliwośc tworzenia narzędzi AI',
 'możliwość pracy zdalnej',
 'odnalezieniesię na rynku pracy  ',
 'pasja do AI',
 'poznawanie nowych rzeczy',
 'praca z AI',
 'praca zdalna',
 'rozwój osobisty',
 'tworzenie aplikacji AI',
 'własny projekt',
 'zdobycie nowych umiejętności',
 'znalezienie właściwej dla siebie drogi dla zmiany sytuacji zawodowej']

In [48]:
count = len(df["motivation"].str.get_dummies(sep=", ").columns.tolist())
print(count)

24

In [49]:
ASK("""
W kolumnie 'Co najbardziej motywuje Cię do nauki data science i AI' mam różne wartości. Niektóre można by zgrupować w jedną kategorię,
Oto wartości w tej kolumnie:
'Chęć zmiany zawodu',
 'Dodanie kompetencji Data Science do obecnego profilu IT',
 'Fascynacja możliwościami jakie daje nam AI',
 'Pasja do analizy danych',
 'Pomoc w realizacji swoich pomysłów',
 'Rozwiązywanie rzeczywistych problemów',
 'Rozwój kariery',
 'Swoboda pracy',
 'Wynagrodzenie',
 'Wyzwania intelektualne',
 'Zagadnienia w doktoracie',
 'jako dźwigni zwiększającej mój projektowy zasięg (getting out of the box).',
 'możliwośc tworzenia narzędzi AI',
 'możliwość pracy zdalnej',
 'odnalezieniesię na rynku pracy  ',
 'pasja do AI',
 'poznawanie nowych rzeczy',
 'praca z AI',
 'praca zdalna',
 'rozwój osobisty',
 'tworzenie aplikacji AI',
 'własny projekt',
 'zdobycie nowych umiejętności',
 'znalezienie właściwej dla siebie drogi dla zmiany sytuacji zawodowej'

Jak zgrupować te wartości w mniej kategorii? Stwórz słownik pythona, gdzie kluczem jest motywacja z listy:
    ['motivation_career',
    'motivation_challenges',
    'motivation_creativity_and_innovation',
    'motivation_money',
    'motivation_personal_growth',
    'motivation_remote'].
a wartością przypisana motywacja z kolumny, każda z 24 wartości ma być przypisana tylko do 1 klucza
""")

Możesz zgrupować wartości w kolumnie według podanych kategorii w następujący sposób. Oto przykładowy słownik w Pythonie, który przypisuje każdą wartość do odpowiedniej kategorii:

```python
motivation_mapping = {
    'motivation_career': [
        'Chęć zmiany zawodu',
        'Dodanie kompetencji Data Science do obecnego profilu IT',
        'Rozwój kariery',
        'odnalezieniesię na rynku pracy',
        'znalezienie właściwej dla siebie drogi dla zmiany sytuacji zawodowej'
    ],
    'motivation_challenges': [
        'Fascynacja możliwościami jakie daje nam AI',
        'Wyzwania intelektualne',
        'Rozwiązywanie rzeczywistych problemów'
    ],
    'motivation_creativity_and_innovation': [
        'Pomoc w realizacji swoich pomysłów',
        'możliwośc tworzenia narzędzi AI',
        'tworzenie aplikacji AI',
        'własny projekt',
        'jako dźwigni zwiększającej mój projektowy zasięg (getting out of the box).'
    ],
    'motivation_money': [
        'Wynagrodzenie'
    ],
    'motivation_personal_growth': [
        'Pasja do analizy danych',
        'rozwój osobisty',
        'zdobycie nowych umiejętności',
        'poznawanie nowych rzeczy',
        'pasja do AI'
    ],
    'motivation_remote': [
        'Swoboda pracy',
        'możliwość pracy zdalnej',
        'praca zdalna',
        'praca z AI'
    ]
}
```

W powyższym słowniku każda kategoria zawiera odpowiednie wartości z kolumny, przypisane do jednego klucza. Możesz dostosować przypisania w zależności od swoich potrzeb.

In [50]:
motywacje = {
   'motivation_career': [
        'Chęć zmiany zawodu',
        'Dodanie kompetencji Data Science do obecnego profilu IT',
        'Rozwój kariery',
        'odnalezieniesię na rynku pracy',
        'znalezienie właściwej dla siebie drogi dla zmiany sytuacji zawodowej'
    ],
    'motivation_challenges': [
        'Fascynacja możliwościami jakie daje nam AI',
        'Wyzwania intelektualne',
        'Rozwiązywanie rzeczywistych problemów',
        'Zagadnienia w doktoracie',
    ],
    'motivation_creativity_and_innovation': [
        'Pomoc w realizacji swoich pomysłów',
        'możliwośc tworzenia narzędzi AI',
        'tworzenie aplikacji AI',
        'jako dźwigni zwiększającej mój projektowy zasięg (getting out of the box).'
    ],
    'motivation_money': [
        'Wynagrodzenie'
    ],
    'motivation_personal_growth': [
        'Pasja do analizy danych',
        'rozwój osobisty',
        'zdobycie nowych umiejętności',
        'poznawanie nowych rzeczy',
        'pasja do AI',
        'praca z AI',
        'własny projekt'
    ],
    'motivation_remote': [
        'Swoboda pracy',
        'możliwość pracy zdalnej',
        'praca zdalna'
    ]
}


def categorize_motivation(motivation):
    if not isinstance(motivation, str):
        return []

    cleaned_motivations = []
    for key, values in motywacje.items():
        for value in values:
            if value in motivation:
                cleaned_motivations.append(key)

    return ", ".join(cleaned_motivations)


df["motivation_cleaned"] = df["motivation"].apply(categorize_motivation)

In [51]:
motivations_df = df["motivation_cleaned"].str.get_dummies(sep=", ")
motivations_df = motivations_df.drop(columns=["[]"])
motivations_df.sum()

motivation_career                       104
motivation_challenges                   106
motivation_creativity_and_innovation      4
motivation_money                         66
motivation_personal_growth               46
motivation_remote                         3
dtype: int64

In [52]:
df = pd.concat([df, motivations_df], axis=1)
df.head()

,Timestamp,age,gender,edu_level,years_of_experience,industry,learning_preferences,weekly_study_hours,motivation,fav_animals,...,learning_pref_personal_projects,learning_pref_teaching,learning_pref_workshops,motivation_cleaned,motivation_career,motivation_challenges,motivation_creativity_and_innovation,motivation_money,motivation_personal_growth,motivation_remote
0,7/4/2024 22:42:51,Poniżej 18 lat,Kobieta,Szkoła podstawowa,0-2 lata,IT,Kursy online,5-10 godzin,NaN,NaN,...,0,0,0,[],0,0,0,0,0,0
1,7/6/2024 11:00:48,25-34,Mężczyzna,Szkoła średnia / Technikum,11-15 lat,IT,"Kursy online, Książki, Warsztaty, Praca zespoł...",10-15 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,...,1,0,1,"motivation_career, motivation_challenges, moti...",1,1,0,0,0,0
2,7/6/2024 12:20:46,45-54,Mężczyzna,Magister,16 i więcej,Edukacja,"Kursy online, Książki, Warsztaty, Praca zespoł...",10-15 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,...,1,0,1,"motivation_career, motivation_challenges, moti...",1,1,0,1,0,0
3,7/6/2024 18:51:25,35-44,Mężczyzna,Szkoła średnia / Technikum,11-15 lat,NaN,"Kursy online, Warsztaty, Praca zespołowa",10-15 godzin,"Rozwój kariery, Wyzwania intelektualne, Wynagr...",Koty,...,0,0,1,"motivation_career, motivation_challenges, moti...",1,1,0,1,0,0
4,7/6/2024 23:20:24,35-44,Mężczyzna,Magister,16 i więcej,Energetyka,"Kursy online, Książki",5-10 godzin,"Rozwój kariery, Rozwiązywanie rzeczywistych pr...",Psy,...,0,0,0,"motivation_career, motivation_challenges, moti...",1,1,0,0,1,0

In [57]:
df.columns

Index(['Timestamp', 'age', 'gender', 'edu_level', 'years_of_experience',
       'industry', 'learning_preferences', 'weekly_study_hours', 'motivation',
       'fav_animals', 'sweet_or_salty', 'fav_place', 'hobbies', 'age_cleaned',
       'gender_cleaned', 'years_of_experience_cleaned', 'hobbies_cleaned',
       'hobby_art', 'hobby_books', 'hobby_movies', 'hobby_other',
       'hobby_sport', 'hobby_video_games', 'sweet_or_salty_cleaned',
       'edu_level_cleaned', 'industry_cleaned', 'fav_animals_cleaned',
       'learning_pref_books', 'learning_pref_online_courses',
       'learning_pref_offline_courses', 'learning_pref_chatgpt',
       'learning_pref_teamwork', 'learning_pref_personal_projects',
       'learning_pref_teaching', 'learning_pref_workshops',
       'motivation_cleaned', 'motivation_career', 'motivation_challenges',
       'motivation_creativity_and_innovation', 'motivation_money',
       'motivation_personal_growth', 'motivation_remote', 'fav_place_cleaned'],
      dtype='object')

In [58]:
cleaned_df = df[[
    'age_cleaned',
    'edu_level_cleaned',
    'fav_animals_cleaned',
    'fav_place_cleaned',
    'gender_cleaned',
    'hobby_art',
    'hobby_books',
    'hobby_movies',
    'hobby_other',
    'hobby_sport',
    'hobby_video_games',
    'industry_cleaned',
    'learning_pref_books',
    'learning_pref_chatgpt',
    'learning_pref_offline_courses',
    'learning_pref_online_courses',
    'learning_pref_personal_projects',
    'learning_pref_teaching',
    'learning_pref_teamwork',
    'learning_pref_workshops',
    'learning_preferences',
    'motivation_career',
    'motivation_challenges',
    'motivation_creativity_and_innovation',
    'motivation_money',
    'motivation_personal_growth',
    'motivation_remote',
    'sweet_or_salty_cleaned',
    'years_of_experience_cleaned',
]].copy()
cleaned_df = cleaned_df.rename(columns={
    'age_cleaned': 'age',
    'edu_level_cleaned': 'edu_level',
    'fav_animals_cleaned': 'fav_animals',
    'fav_place_cleaned': 'fav_place',
    'gender_cleaned': 'gender',
    'industry_cleaned': 'industry',
    'sweet_or_salty_cleaned': 'sweet_or_salty',
    'years_of_experience_cleaned': 'years_of_experience',
})
cleaned_df.head()

,age,edu_level,fav_animals,fav_place,gender,hobby_art,hobby_books,hobby_movies,hobby_other,hobby_sport,...,learning_pref_workshops,learning_preferences,motivation_career,motivation_challenges,motivation_creativity_and_innovation,motivation_money,motivation_personal_growth,motivation_remote,sweet_or_salty,years_of_experience
0,<18,Podstawowe,Brak ulubionych,NaN,1.0,0,0,0,0,0,...,0,Kursy online,0,0,0,0,0,0,NaN,0-2
1,25-34,Średnie,Psy,Nad wodą,0.0,0,0,1,0,0,...,1,"Kursy online, Książki, Warsztaty, Praca zespoł...",1,1,0,0,0,0,sweet,11-15
2,45-54,Wyższe,Psy,W lesie,0.0,0,0,1,0,0,...,1,"Kursy online, Książki, Warsztaty, Praca zespoł...",1,1,0,1,0,0,salty,>=16
3,35-44,Średnie,Koty,W górach,0.0,0,1,1,0,1,...,1,"Kursy online, Warsztaty, Praca zespołowa",1,1,0,1,0,0,sweet,11-15
4,35-44,Wyższe,Psy,W lesie,0.0,0,0,0,1,1,...,0,"Kursy online, Książki",1,1,0,0,1,0,sweet,>=16

In [60]:
cleaned_df.to_csv('welcome_survey_cleaned.csv', index=False, sep=";")